<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
	<div id="header">
		<h1><%= title %></h1>
	</div>
    <div id="page">
			<div id="page">
			<h2> Mot de passe oublié ? </h2>
			<% if (locals.error) {%>
				<div class="message error">
					<%= error %>
				</div>
			<%}%>
			<p> Veuillez renseigner votre adresse mail pour recevoir votre mot de passe :</p>
			<form method="POST" action="/mdp">
			<label>Mail</label> : <input type="email" name="courriel" id="courriel" required/> <br/>
			<input type="submit" value="Envoyer" name="Envoyer"/> <br/>
			</form>
			<footer> Projet Ask Them - Groupe 5 - 2018-2019</footer>
		</div>
	</body>
</html>