<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">AskThem</a>

  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation">
  			<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="mynav">
  			<ul class="navbar-nav mr-auto">
  	  			<li class="nav-item">
  	   				 <a class="nav-link" href="../questionnaire">Questionnaire</a>
  	  			</li>
  	 			<li class="nav-item">
  	    			<a class="nav-link" href="../session">Session</a>
  	  			</li>
  			</ul>
  			<ul class="navbar-nav ml-auto">
  	  			<li class="nav-item">
  	   				 <a class="nav-link" href=""><i class="fas fa-user-circle"></i> Profil</a>
  	  			</li>
  	  			<li class="nav-item">
  	  				<a class="nav-link" href="../"><i class="fas fa-sign-out-alt"></i></a>
  	  			</li>
  			</ul>
  		</div>
  	</nav>

  <form method="POST" action="/profil/infochange">
    <h3 style="text-align: center; margin-top: 1em;">CHANGER SON E-MAIL</h3>
    <div style="text-align: center; color: red;"><%= infomail %> </div>
    <label style="margin-left: 25.2%; margin-top: 1em;">E-Mail</label> <br>
    <input style="width: 50%; margin: 10px; margin-left: 25%; text-align: center;" type="email" name="mail" /> <br/>

    <input style="width: 50%; margin: 10px; margin-left: 25%; text-align: center;" type="submit" value="Changer son e-mail" name="email"/> <br/>

    <h3 style="text-align: center; margin-top: 1em;">CHANGER SON MOT DE PASSE</h3>
    <div style="text-align: center; color: red;"><%= infomdp %> </div>
    <label style="margin-left: 25.2%; margin-top: 1em;">Ancien mot de passe</label> <br>
    <input style="width: 50%; margin: 10px; margin-left: 25%; text-align: center;" type="password" name="amdp"/> </br>

    <label style="margin-left: 25.2%; margin-top: 1em;">Nouveau mot de passe</label> <br>
    <input style="width: 50%; margin: 10px; margin-left: 25%; text-align: center;" type="password" name="nmdp"/> </br>

    <label style="margin-left: 25.2%; margin-top: 1em;">Confirmer le mot de passe</label> <br>
    <input style="width: 50%; margin: 10px; margin-left: 25%; text-align: center;" type="password" name="cmdp"/> </br>

    <input style="width: 50%; margin: 10px; margin-left: 25%; text-align: center;" type="submit" value="Changer son mot de passe" name="mdp"/> <br/>
  </form>
  <footer> Projet Ask Them - administrateur@askthem.com - Groupe 5 - 2018-2019</footer>
  </body>
</html>
