<% include header %>

<div>
  <a href="/" class="header item">La question</a>
</div>
<form method="post" action="/" class="ui form">
  <div class="field">
    <textarea type="text" id="reponse_1"></textarea>
  </div>
  <button type="submit" onclick="AffichConsole();">
    <i class="icon edit"></i> Envoyer
  </button>
</form>
 
<% include footer %>
